@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital@1&family=Sacramento&display=swap');

body {
  font-family: "Merriweather", serif;
  background-color: #fcde67;
  color: #030e12;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 562.5%;
  margin-top: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #fcde67;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #fcde67;
}

.bottom-container {
  background-color: #fcde67;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}